body{
    background-image: radial-gradient(circle, #71c5ee, #53a7d8, #3889c1, #1e6caa, #025091);
}

.container{
    background-color: #151515;
    color: white;
    margin-top: 300px;
    border-radius: 50px;
    width: 400px;
}

#title{
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
}

#title2{
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
}

.textFooter{
    font-size: 15px;
    color: #f02f2f;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 20px;
}

#footerKev{
    border: 2px solid #ffffff;
    border-radius: 40px;
    padding: 10px;
    background-color: #000000;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


.bi-github{
    color: #ffffff;
    margin-left: 5px;
}